<mdb-card class="mt-1 animated fadeIn">
  <mdb-card-body>
    <div class="row">
      <div class="col-md-3">
        <div class="view overlay border rounded"> <img src="{{data.image}}" alt="University Of Moratuwa"
            class="img-fluid" />
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>

      </div>
      <div class="col-md-9 px-3">
        <h2>{{data.title}}</h2>

        <div class="row mb-4">
          <div class="col-md-8">
            <small class="px-2 blue-grey-text">
              <mdb-icon fas icon="city" class="pr-2"></mdb-icon> {{data.location}}
            </small>
          </div>
          <div class="col-md-4">
            <small class="px-2 blue-grey-text">
              <mdb-icon fas icon="calendar" class="pr-2"></mdb-icon> {{data.period}}
            </small>
          </div>
        </div>

        <hr />
        <div [innerHTML]="data.content">
        </div>
      </div>
    </div>

  </mdb-card-body>
</mdb-card>
