@import '../../../../variables';

.medal {
  width: 64px;
  height: 64px;
}

h2 {
  font-weight: 400;
}

#text{
  white-space: pre-line;
}

.timeline {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    background: #cccccc;
    width: 5px;
    height: 150%;
    position: absolute;
    left: 50px;
    transform: translateX(-50%);
  }

  &.is-last {
    &::before {
      display: none;
    }
  }
}

@media only screen and (max-width: $small-size) {

  .medal,
  .timeline::before {
    display: none;
  }
}
