<mdb-card class="mt-1 animated fadeIn z-depth-0">
    <mdb-card-body class="p-4 auto-center">
        <h2 class="h2-responsive">{{data.title | uppercase}}</h2>
        <hr />

        <span class="mr-2" *ngFor="let badge of data.badges" [innerHTML]="badge"></span>

        <div class="pt-3 pb-2" id="text"> {{data.content}} </div>

        <div class="row pb-2 pl-2 auto-center">
            <div *ngFor="let link of data.links">
                <a mdbBtn type="button" color="dark" outline="true" size="sm" mdbWavesEffect target="_blank"
                    rel="noopener" [href]="link.target"> {{link.title}} </a>
            </div>
        </div>

        <div *ngIf="data.image" [class]="'view overlay z-depth-2 ' + (data.embed ? 'zoom': '')">
            <img [src]='data.image' class="img-fluid rounded w-100" alt="Photo">
            <a target="_blank" *ngIf="data.embed" [href]="data.embed">
                <div class="mask flex-center rgba-black-light">
                </div>
            </a>
            <div *ngIf="data.embed == null" class="mask flex-center">
            </div>
        </div>

        <div *ngIf="data.team">
            <hr />
            <div class="row p-3 auto-center">
                <app-team-mate *ngFor="let teamMate of data.team" [data]="teamMate"></app-team-mate>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>