<section class="resume-section d-flex align-items-center">
  <div class="text-center p-4 w-100">

    <img src="assets/me.jpg" class="rounded-circle hoverable border border-dark mb-3" alt="Profile Picture">

    <h1 class="animated bounceIn">Sunera Avinash </h1>

    <div class="subheading mb-5">
      344/1, Moonamalgahawatta, Duwa Temple Rd, Kalutara South.
      <br />
      (076) 833 6850
      <br />
      <a href="mailto:kdsuneraavinash@gmail.com">kdsuneraavinash@gmail.com</a>
    </div>


    <p class="lead mb-5 px-5">
      I am a skilled computer science student who has a passion for algorithms and problem solving.
    </p>

    <div class="social-icons">
      <a target="_blank" href="https://www.linkedin.com/in/kdsuneraavinash">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" href="https://github.com/kdsuneraavinash">
        <i class="fab fa-github"></i>
      </a>
      <a target="_blank" href="https://www.hackerrank.com/kdsuneraavinash">
        <i class="fab fa-hackerrank"></i>
      </a>
    </div>
  </div>

</section>
