@import '../../../variables';

section {
  overflow: hidden;
}

h1 {
  font-weight: 900;
}

.subheading {
  color: $light-color;
  font-size: 1.2em;
}

section.resume-section {
  min-height: 100vh;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: $light-color;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:hover {
  background-color: #f1734d;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
