<section class="resume-section d-flex align-items-center">
  <div class="text-center p-4 w-100">

    <img src="assets/me.jpg" class="rounded-circle hoverable border border-dark mb-3" alt="Profile Picture">

    <h1 class="animated bounceIn">{{data.name}} </h1>

    <div class="subheading mb-2">
      {{data.address}}
      <br />
      {{data.telephone}}
      <br />
      <a href="mailto:{{data.email}}">{{data.email}}</a>
    </div>

    <a href="assets/resume.pdf" target="_blank" mdbBtn type="button" size="sm" color="dark" outline="true" class="mb-5"
      mdbWavesEffect>
      <mdb-icon fas icon="download" class="mr-1"></mdb-icon>Download Resume
    </a>

    <p class="lead mb-5 px-5">
      {{data.bio}}
    </p>

    <div class="social-icons">
      <a target="_blank" href="{{data.linkedin}}">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" href="{{data.github}}">
        <i class="fab fa-github"></i>
      </a>
      <a target="_blank" href="{{data.hackerrank}}">
        <i class="fab fa-hackerrank"></i>
      </a>
    </div>
  </div>

</section>
