<section class="resume-section d-flex align-items-center">
  <div class="text-center p-4 container">
    <img src="{{ data.photo }}" class="rounded-circle hoverable border border-dark mb-3" alt="Profile Picture" />

    <h1 class="h1-responsive">{{ data.fullname }}</h1>
    <div class="mb-4">
      <span class="subtitle p-1 px-3">
        {{ data.subtitle | uppercase }}
      </span>
    </div>
    <div class="subheading mb-2">
      {{ data.address }}
      <br />
      {{ data.telephone }}
      <br />
      <a href="mailto:{{ data.email }}">{{ data.email }}</a>
    </div>

    <!-- <a
      href="{{ data.resume }}"
      target="_blank"
      rel="noopener"
      mdbBtn
      type="button"
      size="sm"
      color="dark"
      outline="true"
      class="mb-5"
      mdbWavesEffect
    >
      <mdb-icon fas icon="download" class="me-1"></mdb-icon>
      Download CV
    </a> -->

    <p class="mb-5 px-1 px-sm-5">
      {{ data.bio }}
    </p>
    <div class="github-card" data-user="lepture" data-repo="github-cards"></div>
    <div class="social-icons">
      <a target="_blank" rel="noopener" href="{{ data.linkedin }}">
        <app-common-icon type="fab" icon="linkedin"></app-common-icon>
      </a>
      <a target="_blank" rel="noopener" href="{{ data.github }}">
        <app-common-icon type="fab" icon="github"></app-common-icon>
      </a>
      <a target="_blank" rel="noopener" href="{{ data.hackerRank }}">
        <app-common-icon type="fab" icon="hackerrank"></app-common-icon>
      </a>
    </div>
    <code> </code>
  </div>
</section>
