<nav>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark-color">
    <mdb-navbar-brand><a class="navbar-brand" href="#">{{getTitle()}}</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item navbar-right" *ngFor="let navButton of navButtons">
          <a class="nav-link waves-light p-2 mb-2 hvr-box-shadow-inset" routerLink="{{navButton.link}}"
             routerLinkActive="active" mdbWavesEffect>
            <mdb-icon class="icon-circle" fas icon="{{navButton.iconName}}"></mdb-icon> &nbsp;
            {{navButton.text | uppercase}} &nbsp;
          </a>
        </li>

      </ul>
    </links>
  </mdb-navbar>

</nav>
