// Avatar
@import '../../../variables';

// Size Calculations based on sidebar width
$avatar-size: $sidebar-width/2;
$avatar-x-margin: (($sidebar-width - $avatar-size)/2);

#sidebar-top {
  background-color: $dark-color;

  img {
    width: $avatar-size;
    height: $avatar-size;
    margin: 50px $avatar-x-margin 0 $avatar-x-margin;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: 800;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    
    span {
      background-color: $accent-color;
      color: black;
    }
  }
}
