// Avatar
@import '../../../variables';

// Navigation Buttons
#sidebar-middle {
  // To Make space for footer buttons
  padding-bottom: 75px;
  text-align: left;

  .nav-button {
    font-weight: 600;
    border-radius: 60px;
    letter-spacing: 1px;

    // To make same size and center
    width: 90%;
    margin-left: 5%;

    &.pressed {
      background-color: $dark-color;
      box-shadow: 1px 1px 2px #000 inset;
    }

    // To make icon appear in a dark circle
    .icon-circle {
      background-color: $dark-color;
      display: inline-block;
      border-radius: 60px;
      padding: 0.6em 0.6em;
    }
  }
}
