<div class="mt-1">
  <div class="auto-center">
    <div class="d-flex">
      <div class="col-lg-3 d-none d-lg-block">
        <div class="view overlay border rounded">
          <img [src]="image" [alt]="subtitle1" class="img-fluid" />
          <div class="mask flex-center rgba-black-light"></div>
        </div>
      </div>
      <div class="col-lg-9 px-3">
        <h2 class="h2-responsive">{{ title }}</h2>

        <div class="d-flex">
          <div class="col-lg-8">
            <small class="px-2 blue-grey-text">
              <app-common-icon [icon]="subtitle1Icon"></app-common-icon>
              &nbsp; {{ subtitle1 }}
            </small>
          </div>
          <div class="col-lg-4">
            <small class="px-2 blue-grey-text">
              <app-common-icon [icon]="subtitle2Icon"></app-common-icon>
              &nbsp; {{ subtitle2 }}
            </small>
          </div>
        </div>
        <hr class="mt-1" />
        <div>
          <app-common-content [content]="content"></app-common-content>
        </div>
      </div>
    </div>
  </div>
</div>
