@import '../../../variables';

h1 {
  font-size: 40px;
  font-weight: 900 !important;
  margin-bottom: 25px;
}

// To make icon appear in a dark circle
.title-icon-circle {
  background-color: $dark-color;
  display: inline-block;
  border-radius: 60px;
  padding: 18px 16px;

  color: #fff;
}


@media only screen and (max-width: $small-size) {
  h1 {
    text-align: center;
  }
}
