@import 'hover';
@import 'variables';

* {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: $small-size) {
  .auto-center {
    text-align: center;
    justify-content: center;
  }
}


/*
-----------------------------------------------
Loading Animation
-----------------------------------------------
 */
#loading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $dark-color;
  border-color: $dark-color transparent $dark-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*
-----------------------------------------------
Scroll Bar
-----------------------------------------------
 */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #ccc;
  box-shadow: inset 0 0 2px #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #0D141A;
}
